<div class="new-question-form">
  <form method="post" action="/questions">

    <input type="text" name="title" placeholder="What is your question?">
    <textarea name="body" placeholder="More info about your question"></textarea>
    <input type="text" name="tags" placeholder="max 5 tags, separated by commas">
    <input type="submit" value="Post Your Question">
  </form>

  <% if @errors %>
    <% @errors.each do |message| %>
      <ul>
        <li>message</li>
      </ul>
    <% end %>
  <% end %>
</div>
