<!-- Create new comments for answers-->
<div class="new-comment-form-answer-container">
  <button class="new-comment-button-answer">Add a Comment</button>
  <form class="new-comment-form-answer hidden" method="post" action="/comments/answer">
    <input type="hidden" name="answer_id" value="<%=answer.id%>">
    <input type="hidden" name="user_id" value="<%=current_user.id%>">
    <textarea name="body" placeholder="Comment here"></textarea>
    <input type="submit" value="Post Your Comment">
  </form>

  <% if @errors %>
    <% @errors.each do |message| %>
      <ul>
        <li><%=message%></li>
      </ul>
    <% end %>
  <% end %>
</div>
