<!-- Create new comments for questions-->
<div class="new-comment-form-container">
  <form id="new-comment-form" method="post" action="/comments/question">
    <input type="hidden" name="question_id" value="<%=question.id%>">
    <input type="hidden" name="user_id" value="<%=current_user.id%>">
    <textarea name="body" placeholder="Comment here"></textarea>
    <input type="submit" value="Post Your Comment">
  </form>

  <% if @errors %>
    <% @errors.each do |message| %>
      <ul>
        <li><%=message%></li>
      </ul>
    <% end %>
  <% end %>
</div>
