<div class="question-upvote">

 <form class="upvote-button-form-answer" method="post" action="/answers/<%= answer.id %>/upvote">
    <button class="vote-button" type="submit" name="submit_param" value="submit_value">cheers</button>
  </form>
  <p class="answer-vote-count"><%= answer.points%></p>
  <form class="downvote-button-form-answer" method="post" action="/answers/<%= answer.id %>/downvote">
    <button class="vote-button" type="submit" name="submit_param" value="submit_value">jeers</button>
  </form>

</div>
