  <!-- insert partial into questions show page for this form, which will be below the question/answer div -->

  <form class="form" id="answer-form" method="post" action="/answers">
    <input type="hidden" name="question_id" value="<%= question.id %>">
    <textarea name="body" placeholder="Answer"></textarea>
    <input type="submit" value="Post Your Answer">
  </form>

  <% if @answer_errors %>
    <% @answer_errors.each do |message| %>
      <ul>
        <li><%=message%></li>
      </ul>
    <% end %>
  <% end %>
